.contenedor-login{
    margin-bottom: 5%;
    width: 100vw;
}
.contenedor-login .foto{
    display: flex;
    margin-top: 2%;
}

.contenedor-login form{
    max-width: 400px;
}
.contenedor-login table{
    background-color: white;
    width: 100%;
}
.contenedor-login table tr{
    border: 5px solid white;
    background-color: #1F2B6C;
    
}
.contenedor-login input{
    background-color: #1F2B6C;
    color: white;
    width: 98%;
    border: 0px groove white;
    font-family:'Work Sans', sans-serif;
    font-size: 16px;
    line-height: 48px;
    
}
.contenedor-login ::placeholder{
    color: white;
    
}
.contenedor-login .inicio{
    border-style: none;
    width: 100%;
    background-color: #BFD2F8;
    color: black;
    line-height: 35px;
    cursor: pointer;
    font-family:'Work Sans', sans-serif;
    font-size: 14px;
    font-weight:700;
}
