html, body {
    margin: 0;
    padding: 0;
    
}
.contenedor-cabezera{
    width: 100vw;
    max-height: 80px;
    display: flex;
    align-items: center;

}
.contenedor-cabezera a{
    font-family: 'Yeseva One';

    color: black;
    text-decoration: none;
    margin-left: 10vw;
}
.contenedor-cabezera span{
    color: #159EEC;
}
.box-container{
    display: flex;
    margin: 0px 0px 0px 20vw;

}
.box-container #call{
    display: flex;
    width: 44px;
    height: 38px;
}
.box-container #attention{
    display: flex;
    width: 32.94px;
    height: 30px;
}
.box-container #location{
    display: flex;
    width: 32.94px;
    height: 36px;
}
.box{
    display: flex;
    margin-right: 5vw;
    max-height: 45px;
    
}

.box h2{
    margin-left: 0px;
    font-size: 16px;
    font-style: normal;
    color: black;
}
.box h2 span{
    display: block;

}
.contenedor-menu{
    display: flex;
    background-color: #1F2B6C;
    width: 100vw;
    align-items: center;
}
.nav-var ul{
    display: flex;
    align-items: center;
}
.nav-var li{
    font-family: 'Work Sans', sans-serif;
    padding-left: 150px;
    list-style: none;

}
.nav-var a{
    text-decoration: none;
    color: white;
}
.nav-var a:hover{
    color: rgb(126, 126, 138);
}
.contenedor-menu button{
    cursor: pointer;
    border-radius: 30px;
    margin-left: 150px;
    border: 0px;
    width: 188px;
    height: 35px;
    background-color:#BFD2F8;
}
.contenedor-menu button a{
    text-decoration: none;
    color: #1F2B6C;
    font-size: 18px;
}
.descripcion{
    margin: 50px 20%;
    display: flex;
}

.texto h1{
    font-family: 'Work Sans', sans-serif;
    margin-top: 100px;
    margin-left: 70px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #159EEC;
}
.texto h2{
    font-family: 'Yeseva One';
    margin-left: 70px;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: #1F2B6C;
}
.texto p{
    font-family: 'Work Sans', sans-serif;
    width: 583.14px;
    margin-left: 70px;
    font-style: normal;
    font-size: 18px;
    font-weight: 100;
    color: black;
    text-align: center;
}
.mision{
    width: 100vw;
    text-align: center;
}
.mision p{
    font-family:'Work Sans', sans-serif;
    font-size: 24px;
    margin: 10px 30%;
    color: black;
}
.mision hr{
    width: 10vw;
}
.contenedor-footer{
    display: flex;
    background-color: #1F2B6C;
    width: 100vw;
    margin-top: 80px;
}
.contenedor-footer h1 a{
    margin-left: 205px;
    text-decoration: none;
    color: #BFD2F8;
    font-size: 36px;
    font-family: 'Yeseva One';
    font-style: normal;
}
.contenedor-footer h1 p{
    font-family:'Work Sans', sans-serif;
    margin-left: 205px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color: #FCFEFE;
}
.contenedor-footer .enlaces h1{
    font-family:'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #FCFEFE;
}
.contenedor-footer .enlaces{
    margin-left: 120px;
}
.contenedor-footer  li{
    list-style: none;
    font-family:'Work Sans', sans-serif;
    color: #FCFEFE;
    font-weight: 400;
}
.contenedor-footer .enlaces a{
    text-decoration: none;
    color: #FCFEFE;
}
.contenedor-footer .contactanos{
    margin-left: 120px;
}
.contenedor-footer .contactanos h1{
    font-family:'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #FCFEFE;
}
.container-copyright{

    color:#FCFEFE;
    width: 100vw;
    font-family:'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    background-color: #1F2B6C;
}
.container-copyright .copyright {

    padding: 30px 0px 50px 150px;
}
