.contenedor-registro{
    margin-bottom: 5%;
    width: 100vw;
}
.contenedor-registro .foto{
    display: flex;
    margin-top: 2%;
}

.contenedor-registro form{
    max-width: 700px;
}
.contenedor-registro table{
    background-color: white;
    width: 100%;
}
.contenedor-registro table tr{
    border: 5px solid white;
    background-color: #1F2B6C;
    
}
.contenedor-registro input{
    background-color: #1F2B6C;
    color: white;
    width: 98%;
    border: 0px groove white;
    font-family:'Work Sans', sans-serif;
    font-size: 16px;
    line-height: 37px;
    
}
.contenedor-registro table select{
    color: white;
    font-family:'Work Sans', sans-serif;
    font-size: 16px;
    height: 30px;
    width: 100%;
    background-color: #1F2B6C;
    border: none;
}
.contenedor-registro ::placeholder{
    color: white;
    
}
.contenedor-registro .siguiente{
    border-style: none;
    color: black;
    font-family:'Work Sans', sans-serif;
    font-size: 16px;
    font-weight:700;
}
.contenedor-registro .registro{
    line-height: 35px;
    background-color: #BFD2F8;
    cursor: pointer;
}
.contenedor-registro .opciones{
    background-color: #BFD2F8;
}
.contenedor-registro #cancelar {
    cursor: pointer;
    color: black;
    font-weight: bold;
    background-color: #BFD2F8;
}
.contenedor-registro #pagar {
    cursor: pointer;
    color: black;
    font-weight: bold;
    background-color: #BFD2F8;
}
.contenedor-registro .plan{
    border-style: none;
    width: 100%;
    background-color: #BFD2F8;
    color: black;
    line-height: 35px;
    font-family:'Work Sans', sans-serif;
    text-align: center;
    font-size: 14px;
    font-weight:700;
    margin: 0px;
}